<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Landing Page </title>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.min.css">
  </head>


  <body>
    <div class="container">
      <div class="text-center">
        <img src="../img/logo.png" class="home-logo center-block" />
      </div>
      <h1>Crypto-Wallet</h1>
      <form>

      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter E-mail" />
      </div>

      <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" class="form-control" id="email" placeholder="Enter Password"/>
      </div>
      <div class="row justify-content-between">
        <button class="btn btn-primary col-5" id="login">LOGIN</button>
        <button class="btn btn-primary col-5" id="login">Sign Up</button>
      </div>
      <button class="btn btn-success google-login" id="login-google">
        <img src="../img/google.png">
        <p>SIGN IN USING GOOGLE+</p>
      </button>

      </form>
    </div>
  </body>
</html>
